
affine==2.2.2
asn1crypto==0.24.0
attrs==19.1.0
bcrypt==3.1.6
certifi==2020.6.20
cffi==1.12.3
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cryptography==2.7
cycler==0.10.0
descartes==1.1.0
GDAL==3.0.2
Shapely==1.6.4
Fiona==1.8.4
geopandas==0.4.1
idna==2.8
jenkspy==0.1.4
kiwisolver==1.1.0
mapclassify==2.0.1
matplotlib==3.3.0
mkl_fft==1.0.12
mkl_random==1.0.2
mkl-service==2.0.2
munch==2.3.2
numpy==1.16.4
olefile==0.46
palettable==3.2.0
pandas==0.24.2
paramiko==2.4.2
patsy==0.5.1
Pillow==6.1.0
psycopg2==2.7.6
pycparser==2.19
PyNaCl==1.3.0
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyproj==1.9.6
pysal==2.0.0
PySocks==1.7.0
python-dateutil==2.8.0
pytz==2019.1
rasterio==1.0.21
reportlab==3.5.42
requests==2.22.0
Rtree==0.8.3
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
snuggs==1.4.6
SQLAlchemy==1.3.5
statsmodels==0.10.1
tornado==6.0.3
urllib3==1.25.3
utm==0.5.0
win_inet_pton==1.1.0
wincertstore==0.2
xhtml2pdf==0.2.4